<div class="row">
  <div class="container">

    <br>
    <h2>Search for Friends</h2>
    <br>
    <div>
      <label>Name:
        <input #searchBox />
      </label>
      <!-- (click) passes input value to add() and then clears the input -->
      <button (click)="search(searchBox.value);">
        Search
      </button>
    </div>
    <ul class="users">
      <li *ngFor="let user of users">
        <p>
          <img [src]="user.picture" style="width: 75px; height: 75px" />
          <a [routerLink]="['/home/profile', user.userId]" style="font-size: 20px;font-weight: bold;">{{user.firstname}} {{user.lastname}}</a>
        </p>
      </li>
    </ul>
  </div>
</div>