<div class="row">
    
    <br>
    
<div class="containter1">
    <div class="col col-sm-6">
    <h4 class="h4">Global Top 50</h4>
    <br>
    <iframe src="https://open.spotify.com/embed/user/12175455270/playlist/2CJsD3fcYJWcliEKnwmovU" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>
</div>

<div class="containter2">
        <div class="col col-sm-6">
        <h4 class="h4">Top Hip-Hop Songs</h4>
        <br>
        <iframe src="https://open.spotify.com/embed/user/spotify/playlist/37i9dQZF1DX0XUsuxWHRQd" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
    </div>

    <div class="containter3">
            <div class="col col-sm-6">
            <h4 class="h4">Release Radar</h4>
            <br>
            <iframe src="https://open.spotify.com/embed/user/spotify/playlist/37i9dQZEVXbeAvaFk1kvop" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>        </div>
        </div>
</div>





