<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
    crossorigin="anonymous">
</head>

<body background="https://png.pngtree.com/thumb_back/fw800/back_pic/04/61/66/30586ee189e46bc.jpg">

  <a routerLink="/home">HOME </a>


  <!--   <div style="text-align:center">
  </div> -->

  <div class="middlePage">
    <div class="page-header">
      <h1 class="logo">Chordination
        <small>Clef-er sharing with no treble</small>
      </h1>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Please Sign In</h3>
      </div>
      <div class="panel-body">

        <div class="row">

          <div class="col-md-5">
            <br>
            <img src="https://vignette.wikia.nocookie.net/singmovie/images/5/59/Spotify_logo_without_text.svg.png/revision/latest?cb=20170805220228"
              height="100px" width="100px" />

          </div>


          <div class="col-md-7" style="border-left:1px solid rgb(0, 0, 0);height:160px">

            <fieldset>

              <input id="textinput" name="textinput" type="text" placeholder="Enter User Name" class="form-control input-md">
              <br>
              <input id="textinput" name="textinput" type="text" placeholder="Enter Password" class="form-control input-md">
              <div class="spacing">
                <a routerLink='/forgot-password'>
                  <small> Forgot Password?</small>
                </a>
                <br/>
              </div>
              <button id="singlebutton" name="singlebutton" class="btn btn-info btn-sm pull-right">Sign In</button>


            </fieldset>

          </div>

        </div>

      </div>
    </div>

  </div>
</body>
<!--div class='embed-container'>
    <iframe src='https://embed.spotify.com/?uri=spotify:track:24lMtPOCzP5g4hrg3NklLa' frameborder='0' allowtransparency='true'></iframe>
  </div-->

<!--iframe src="https://open.spotify.com/embed?uri=spotify:album:2o9McLtDM7mbODV7yZF2mc" width="300" height="380" frameborder="0"
    allowtransparency="true" allow="encrypted-media"></iframe-->