<div class=row>
  <div class="container" id="wholeprofile">
    <div *ngIf="user">
      <div class="container">
        <br/>
        <img id="image" src="https://image.ibb.co/jqsPDd/profile.jpg" />
        <br/>
        <br/>
        <br/>
        <h1>{{ user.firstname }} {{ user.lastname }}</h1>

      </div>

      <div class="container">
        <div class="col col-sm-6">
          <h3>Email: {{ user.email }}</h3>
          <h3>Date of Birth: {{ user.dob }}</h3>
        </div>

        <div class="col col-sm-6">
          <div *ngIf="user.bio">
            <h3>Bio:</h3>
            <p>{{ user.bio }}</p>
          </div>
          <h3>Favorite Genres:</h3>
          <h6> {{ user.genreOne }}</h6>
          <div *ngIf="user.genreTwo">
            <h6> {{ user.genreTwo }}</h6>
          </div>
          <div *ngIf="user.genreThree">
            <h6> {{ user.genreThree }}</h6>
          </div>
        </div>
        <div *ngIf="isMyProfile">
          <button [routerLink]="['/home/update-profile', user.userId]">Edit Profile</button>
        </div>
      </div>

      <div class='col-sm-6'>
        <div class='container-fluid'>
          <div class=container>
            <h4 id="heading">Recent Posts:</h4>
          </div>
          <br/>
          <div class='container-fluid'>
            <div *ngFor='let post of posts'>
              <div class="name">
                <span>{{post.author.firstname}} {{post.author.lastname}}</span>
              </div>
              <p class="description">{{post.description}}</p>
              <br/>
              <div class="image">
                <span>{{post.picture}}</span>
              </div>
              <h6 class="date">{{getDate(post.submitTime)}}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>