.jumbotron {
  height: 100vh;
  overflow: auto;
}
.scrollable-content {
      background-color: rgb(231, 239, 241);
      height: 100vh;
      width: 1000px;
      overflow-y: auto;
      text-indent: 20px;
  }

  .icon-bar {
    width: 140px; /* Set a specific width */
    background-color: #555; /* Dark-grey background */
    position: absolute;
}

.icon-bar a {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 16px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font-size */
}

.icon-bar a:hover {
    background-color: #000; /* Add a hover color */
}

.active {
    background-color: #4CAF50; /* Add an active/current color */
}

 .body{
    /* background-color: #292F33; */

    background-image: url(http://www.ownwallpaper.com/ownpic/b/110/1100721_android-material-design-wallpaper.jpg)
}

#chordination{
    background-color: #82b74b;
}

.break{
    background-color: #82b74b;
} 



.profileIcon {
    position: absolute;
    top: 0px;
    right: 0px;
}

p {
    font-size: 14px;
}

.logo{
    text-align:center;
    position: relative;
    left:50px;
}

i {
    font-size: 20px;
}