<div class="container">
  <div *ngIf="user">
    <div class="container">
      <img id="image" src="https://image.ibb.co/jqsPDd/profile.jpg" />

      <h1>{{ user.firstname }} {{ user.lastname }}</h1>

    </div>
    <div class="row">
      <div class="container">
        <div class="col col-sm-6">
          <h3>Email: </h3>
          <input id="email" type="email" [(ngModel)]="email" placeholder="Enter Email" class="form-control input-md"/>
          <h3>Date of Birth: {{ user.dob }}</h3>
          <input id="dob" type="text" [(ngModel)]="dob" placeholder="Enter dob" class="form-control input-md"/>
        </div>

        <div class="col col-sm-6">
          <h3>Bio:</h3>
          <input id="bio" type="text" [(ngModel)]="bio" placeholder="Enter bio" class="form-control input-md"/>

          <h3>Favorite Genres:</h3>
          <input id="genreOne" type="text" [(ngModel)]="genreOne" placeholder="Enter genreOne" class="form-control input-md"/>
          <input id="genreTwo" type="text" [(ngModel)]="genreTwo" placeholder="Enter genreTwo" class="form-control input-md"/>
          <input id="genreThree" type="text" [(ngModel)]="genreThree" placeholder="Enter genreThree" class="form-control input-md"/>

        </div>
        <button [routerLink]="['profile', user.userId]">Cancel</button>
        <button id="saveUser" (click) = 'saveUser()' class="btn btn-lrg pull-right" style="font-size : 14px">Save</button>
      </div>
    </div>
  </div>
</div>