<form action="action_page.php">

  <div class="container">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="firstname"><b>First Name</b></label>
    <input type="text" placeholder="First Name" name="firstname" id="firstname" required>
    

    <label for="lastname"><b>Last Name</b></label>
    <input type="text" placeholder="Last Name" name="lastname" id="lastname" required>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Email" name="email" id="email" required>

    <label for="dob"><b>Date of Birth </b></label>
    <input type="text" placeholder="Date of Birth" name="dob" id="dob" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="password" required>

    <label for="psw-repeat"><b>Confirm Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

    <h3>Please pick at least one music genre.</h3>
    <br/>
    <label for="genre1"><b>First Genre</b></label>
    <input type="text" placeholder="Genre" name="genre1" id="genre1" required>

    <label for="genre2"><b>Second Genre</b></label>
    <input type="text" placeholder="Genre" name="genre2" id="genre2">

    <label for="genre3"><b>Third Genre</b></label>
    <input type="text" placeholder="Genre" name="genre3" id="genre3">
    <hr>
    <br/>
    <button type="submit" class="registerbtn"(click)="onRegisterSubmit()">Register</button>
  </div>

  <div class="container signin">
    <p>Already have an account? <a href="#">Sign in</a>.</p>
  </div>
</form>
